 <form>
  <div class="form-group">
    <label for="email">כתובת אימייל:</label>
    <input disabled='true' ng-model="applicationData.user.mail" type="email" class="form-control">
  </div>
  <div class="form-group">
    <label>שם:</label>
    <input ng-model="applicationData.user.firstName" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label>שם משפחה:</label>
    <input ng-model="applicationData.user.lastName" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label>פלאפון:</label>
    <input ng-model="applicationData.user.phone" type="tel" pattern="[0-9]*" class="form-control">
  </div>
  <div class="form-group">
    <label>שם משתמש של הפיפא:</label>
    <input ng-model="applicationData.user.fifaUser" type="text" class="form-control">
  </div>
  <button ng-click="submit()" type="submit" class="btn btn-default">עדכן</button>
  <button ng-click="cancel()" type="submit" class="btn btn-warning">ביטול</button>
</form>
