<div class="container text-center">  
  <h2>המשחק הבא</h2>
  <h2>נגד - {{game.oponentUser}}</h2>
  <a ng-show="game.userCheckedIn!='checkedIn'" class="btn btn-danger" ng-click="checkinMatchGame()">הירשמות למשחק</a>
  <div ng-show="game.userCheckedIn=='checkedIn'" style="font-size:48px;color:rgb(43, 157, 250)">
    <i class="fa fa-check" style="display:inline-block"></i>
    <p style="display:inline-block">אתה מחובר</p>
  </div>
  <div ng-show="game.oponentCheckedIn=='checkedIn'" style="font-size:48px;color:rgb(43, 157, 250)">
    <i class="fa fa-check" style="display:inline-block"></i>
    <p style="display:inline-block">היריב מחובר</p>
  </div>
  <div ng-show="game.oponentCheckedIn=='checkedIn' && game.userCheckedIn=='checkedIn'">
    <label for="male">אתה:</label>
    <select ng-model="userScore">
      <option ng-repeat="i in numbers">{{$index}}</option>
    </select>
    <label for="male">היריב:</label>
    <select ng-model="oponentScore">
      <option ng-repeat="i in numbers">{{$index}}</option>
    </select>
    <a class="btn btn-danger" ng-click="updateScoreMatchGame(userScore,oponentScore)">עדכן משחק</a>
  </div>


  <div class="table-responsive" ng-repeat="league in leags track by $index">
    <h3>group {{league.League}}</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>שחקן</th>
          <th>נצחונות</th>
          <th>תקו</th>
          <th>הפסדים</th>
          <th>זכות</th>
          <th>חובה</th>
          <th>נקודות</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="stand in league.standing track by $index">
          <td>{{stand.userName}}</td>
          <td>{{stand.W}}</td>
          <td>{{stand.D}}</td>
          <td>{{stand.L}}</td>
          <td>{{stand.GF}}</td>
          <td>{{stand.GA}}</td>
          <td>{{stand.P}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">אישור תוצאה</h4>
        </div>
        <div class="modal-body">
          <p>תוצאת המשחק היא:</p>
          <p>אתה: {{oUserScore}} היריב: {{oOponentScore}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="updateScoreMatchGame(oUserScore,oOponentScore)">מאשר</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">ביטול</button>
        </div>
      </div>
    </div>
  </div>


</div>
