<div class="container">
  <h1>{{tournament.headLine}}</h1>
  <p>{{tournament.content}}</p>
  <p><b><u>תאריך:</u></b></p>
  <div class="container">
    <p>{{tournament.date}}</p>
  </div>
  <p><b><u>קונסולה:</u></b></p>
  <div class="container">
    <p>{{tournament.consoleType}}</p>
  </div>
  <p><b><u>רשימת הפרסים:</u></b></p>
  <ul>
    <li ng-repeat="trophy in tournament.trophys track by $index">{{trophy.headLine + ' ' + trophy.amount}} שח</li>
  </ul>
  <a class="btn btn-info">הצטרף</a>
  <button ng-click="cancel()" class="btn btn-warning">חזור</button>
</div>
